@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

form
	margin: 0;

=shadow1
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);

=shadow2
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);

=shadow3
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

.gradient
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00bfa5+1,1e88e5+100 */
	background: #00bfa5 !important;
	background: -moz-linear-gradient(-45deg, #00bfa5 1%, #1e88e5 100%) !important;
	background: -webkit-linear-gradient(-45deg, #00bfa5 1%,#1e88e5 100%) !important;
	background: linear-gradient(135deg, #00bfa5 1%,#1e88e5 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bfa5', endColorstr='#1e88e5',GradientType=1 );

.gradient-1
	background: #2c7bb5 !important;
	background: -moz-linear-gradient(45deg, #2c7bb5 0%, #f62d51 100%) !important;
	background: -webkit-linear-gradient(45deg, #2c7bb5 0%,#f62d51 100%) !important;
	background: linear-gradient(45deg, #2c7bb5 0%,#f62d51 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c7bb5', endColorstr='#f62d51',GradientType=1 );

.page-not-found
	width: 100%;
	height: 100vh;
	display: table;
	text-align: center;

.page-not-found__container
	display: table-cell;
	vertical-align: middle;

.page-not-found__title
	font-size: 400%;

.nav-link.active
	color: rgba(255,255,255,.7) !important;

.tasks-block
	background-color: #fff;
	+shadow2;

.to-do-list
	min-height: 100%;

.link-group__btn
	color: #666 !important;

.link-group__btn.active
	background-color: #fff !important;
	+shadow1;

.link-group__icon
	margin-right: 10px !important;
	width: 10px;
	height: 10px;
	border-radius: 50%;

.picker-conteiner
	position: absolute;
	z-index: 10;
	padding: 20px;
	background-color: #fff;
	+shadow1;

.custom-checkbox
	position: relative !important;
	margin-left: 0px !important;
	margin-right: 10px !important;
	margin-top: 0px !important;
	vertical-align: middle;

@media only screen and (min-device-width: 500px), screen and (min-width: 500px)
	::-webkit-scrollbar
		width: 10px;
		
	::-webkit-scrollbar-thumb
		border-width: 1px 1px 1px 2px;
		border-color: #555;
		background-color: #555;
